.blog-comment {
    margin-top: 67px;
  }
  .blog-comment .media {
    align-items: center;
    margin-bottom: 35px;
  }
  .blog-comment .media a img {
    border-radius: 50%;
  }
  .blog-comment .media.nesting {
    margin-left: 60px;
  }
  .blog-comment .media .media-body {
    margin-left: 30px;
  }
  .blog-comment .media .media-body h5 {
    display: inline-block;
  }
  .blog-comment .media .media-body h5 a {
    font-size: 18px;
    font-weight: 700;
    color: #14212b;
  }
  .blog-comment .media .media-body .date {
    font-size: 13px;
    color: #616161;
    margin-left: 14px;
  }
  .blog-comment .media .media-body p {
    font-size: 15px;
    color: #696969;
  }
  .blog-comment .media .media-body a {
    font-size: 18px;
    font-weight: 500;
    color: #696969;
  }
  .blog-comment .media .media-body a:hover {
    color: var(--main-color);
  }

  .comment-form {
    margin-top: 70px;
  }
